 /* 
 Modified by Majid Akhtar
  */
.team-photo{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    margin-bottom: 10px;
}

#contact p{
    color: grey;
    margin-bottom: 0px;
}

.team-contact{
    /*display: none;*/
}

.team-contact-mid{
    display: none;
}

#progress {
    background-color: #456990;
}

.box{
    background-color: #F05F40 !important;
    display: table-cell;
    border-radius:5px;
    padding: 5px;
    margin-bottom: 5px;
}
.text{
    color:white;
    text-align:center;
    padding: 5px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.wrapper {
    display: table;
    width: 100%;
}

.middle {
    display: table-cell;
    width: 3%;
}

@media (max-width: 770px){
    .not-available{
        display: none;
    }
}

@media (max-width: 900px) {
    .wrapper {
        display: inline-block;
    }

    .box {
        display: inline-block;
    }
}

.skills {
    text-align: right;
    padding-top: 0px;
    padding-bottom: 10px;
    color: white;
  }
  
/** {box-sizing: border-box}*/
.skillbar {
    width: 100%;
    height: 24px;
    background-color: #ddd;
  }
.html {width: 80%; height: 24px; background-color: #4CAF50;}
.blockchain {width: 85%; height: 24px; background-color: #2196F3;}
.javascript {width: 75%; height: 24px; background-color: #f44336;}
.solidity {width: 80%; height: 24px; background-color: #808080;}
.node {width: 60%; height: 24px; background-color: #b758e4;}
.sskill {width: 80%; height: 24px; background-color: #0d332e;}

/* span {
    background-color: #1f1f1f;
  } */

table, th, td {
   border: 1px solid rgb(17, 41, 77);
   text-align: center;
}